#inner-details {
	font-size: 12px;
}

#conecctions ul li {
	padding-left: 0px;
}

span.close {
	color: #FF5555;
	cursor: pointer;
	font-weight: bold;
	margin-left: 3px;
}

span.name {
	cursor: pointer;
}

/*TOOLTIPS*/
.tip {
	text-align: left;
	width: auto;
	max-width: 250px;
}

.tip-title {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 2px;
}

.tip-img img {
	max-width: 248px;
	max-height: 225px;
}

img.mid {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 2px;
}

.tip-comment {
	font-size: 10px;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 2px;
}