@CHARSET "UTF-8";
/*------------------------------------------
	Style for buttons and search field
--------------------------------------------*/
.form-search {
    position: relative;
    top: 0px;
    color: #FFFFFF;
    font-weight: bold;
}
.form-search-input {
    border: medium none;
    border-radius: 0.4em 0 0 0.4em;
    padding: 4px 2px 4px 8px;
    width: 125px;
}
.form-search-input:focus {
    outline: medium none;
}
.button, .button:visited {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
a.button:hover {
    background-color: #111111;
    color: #FFFFFF;
    text-decoration: none;
}
.button:active {
    top: 1px;
}
.small.button, .small.button:visited {
    font-size: 11px;
}
.button, .button:visited, .medium.button, .medium.button:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.large.button, .large.button:visited {
    font-size: 14px;
    padding: 8px 14px 9px;
}
.super.button, .super.button:visited {
    font-size: 34px;
    padding: 8px 14px 9px;
}
.pink.button, .magenta.button:visited {
    background-color: #E22092;
}
.pink.button:hover {
    background-color: #C81E82;
}
.green.button, .green.button:visited {
    background-color: #91BD09;
}
.green.button:hover {
    background-color: #749A02;
}
.red.button, .red.button:visited {
    background-color: #E62727;
}
.red.button:hover {
    background-color: #CF2525;
}
.orange.button, .orange.button:visited {
    background-color: #FF5C00;
}
.orange.button:hover {
    background-color: #D45500;
}
.blue.button, .blue.button:visited {
    background-color: #2981E4;
}
.blue.button:hover {
    background-color: #2575CF;
}
.yellow.button, .yellow.button:visited {
    background-color: #FFB515;
}
.yellow.button:hover {
    background-color: #FC9200;
}
.post-content {
    color: #333333;
    font-size: 13px;
    line-height: 22px;
}
.post-content a {
    color: #084C8D;
    text-decoration: none;
}
.post-content a:hover {
    color: #000000;
    text-decoration: underline;
}
.post-content a img {
    border: 1px solid #FFFFFF;
}
.post-content a img:hover {
}
.post-content p img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.post-content p img.alignright {
    display: inline;
    margin: 6px 0 2px 15px;
    padding: 1px;
}
.post-content p img.alignleft {
    display: inline;
    margin: 6px 15px 2px 0;
    padding: 1px;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    margin: 20px 0 -4px;
}
.post-content h1 {
    font-size: 38px;
}
.post-content h2 {
    font-size: 34px;
}
.post-content h3 {
    font-size: 30px;
}
.post-content h4 {
    font-size: 26px;
}
.post-content h5 {
    font-size: 22px;
}
.post-content h6 {
    font-size: 18px;
}
.post-content blockquote {
    background-color: #F9F9F9;
    border-left: 5px solid #E3E3E3;
    color: #666666;
    font-style: italic;
    margin: 10px 20px;
    padding: 1px 20px;
}
.post-content blockquote:before {
    font-weight: bold;
}
.post-content blockquote:after {
    font-weight: bold;
}
