/*---------------------------
	Style for the documents
-----------------------------*/
html,body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", Verdana;
	font-size: 0.9em;
	text-align: center;
	background-color: #192919;
}

input,select {
	font-size: 0.9em;
}

table {
	margin-top: -10px;
	margin-left: 7px;
}

h4 {
	font-size: 1.1em;
	text-decoration: none;
	font-weight: normal;
	color: #23A4FF;
}

h3 {
	color: #23A4FF;
}

a {
	color: #23A4FF;
}

#container {
	width: 1000px;
	height: 600px;
	margin: 3 auto;
	position: relative;
}

#left-container,#right-container,#center-container {
	height: 600px;
	position: absolute;
	top: 0;
}

#left-container,#right-container {
	width: 400px;
	color: #686c70;
	text-align: left;
	overflow: auto;
	background-color: #fff;
	background-repeat: no-repeat;
	border-bottom: 1px solid #ddd;
}

div.score {
	margin-bottom: 10px;
}

div.common_values {
	margin-bottom: 3px;
}

div.common_values_for {
	margin-bottom: 3px;
}

#left-container {
	left: 0;
	background-image: url('col2.png');
	background-position: center right;
	border-left: 1px solid #ddd;
}

#right-container {
	right: 0;
	background-image: url('col1.png');
	background-position: center left;
	border-right: 1px solid #ddd;
}

#right-container h4 {
	text-indent: 0px; /*8px*/
}

#center-container {
	width: 800px;
	/* left:200px; */
	background-color: #FFFFFF;
	color: #ccc;
	position: right;
}

.text {
	margin: 7px;
}

span.inward {
	color: #000088
}

span.outward {
	color: #008800;
}

span.score-val {
	font-size: 1.5em;
}

span.node-label {
	font-size: 1em;
}

span.shared_by {
	color: #779977;
  vertical-align: baseline;
	font-size: 0.8em;
	position: relative;
	top: -0.2em;
  font-style:italic;
}

span.common-pred {
	color: #223322;
  font-variant:small-caps;
  font-size: 1.3em;
}

#inner-details {
	font-size: 0.8em;
	list-style: none;
	margin: 7px;
}

#log {
	position: absolute;
	top: 10px;
	font-size: 1.0em;
	font-weight: bold;
	color: #23A4FF;
}

#infovis {
	position: relative;
	width: 800px;
	height: 600px;
	margin: auto;
	overflow: hidden;
	/* background-color: #F2F2F2; */
	background: url("images/gradient_texture.png") repeat scroll 0 0
		#E6EFE6;
}

/*HELP*/
#help {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
}

/*TOOLTIPS*/
.tip {
	color: #111;
	width: 139px;
	background-color: white;
	border: 1px solid #ccc;
	-moz-box-shadow: #555 2px 2px 8px;
	-webkit-box-shadow: #555 2px 2px 8px;
	-o-box-shadow: #555 2px 2px 8px;
	box-shadow: #555 2px 2px 8px;
	opacity: 0.9;
	filter: alpha(opacity =   90);
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 7px;
}

/*LOADING PAGE*/
.circle {
	background-color: rgba(0, 0, 0, 0);
	border: 5px solid rgba(0, 183, 229, 0.9);
	opacity: .9;
	border-right: 5px solid rgba(0, 0, 0, 0);
	border-left: 5px solid rgba(0, 0, 0, 0);
	border-radius: 50px;
	box-shadow: 0 0 35px #2187e7;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	-moz-animation: spinPulse 1s infinite ease-in-out;
	-webkit-animation: spinPulse 1s infinite linear;
}

.circle1 {
	background-color: rgba(0, 0, 0, 0);
	border: 5px solid rgba(0, 183, 229, 0.9);
	opacity: .9;
	border-left: 5px solid rgba(0, 0, 0, 0);
	border-right: 5px solid rgba(0, 0, 0, 0);
	border-radius: 50px;
	box-shadow: 0 0 15px #2187e7;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	position: relative;
	top: -50px;
	-moz-animation: spinoffPulse 1s infinite linear;
	-webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse { 
	0% {
		-moz-transform: rotate(160deg);
		opacity: 0;
		box-shadow: 0 0 1px #2187e7;
	}
	50% {
		-moz-transform : rotate(145deg);
		opacity : 1;
	}
	100% {
		-moz-transform : rotate(-320deg);
		opacity : 0;
	}
}
@-moz-keyframes spinoffPulse { 
	0% {
		-moz-transform : rotate(0deg);
	}
	100% {
		-moz-transform : rotate(360deg);
	}
}
@-webkit-keyframes spinPulse { 
	0% {
		-webkit-transform : rotate(160deg);
		opacity : 0;
		box-shadow : 0 0 1px #2187e7;
	}
	50% {
		-webkit-transform : rotate(145deg);
		opacity : 1;
	}
	100% {
		-webkit-transform : rotate(-320deg);
		opacity : 0;
	}
}
@-webkit-keyframes spinoffPulse { 
	0% {
		-webkit-transform : rotate(0deg);
	}
	100% {
		-webkit-transform : rotate(360deg);
	}
}

/* FIT ANY SCREEN SIZE */
@media screen and (min-width:1200px){
	#container{
		width:1100px;
	}
}

@media screen and (max-width:767px){
	#container{
		width:320px;
	}
}